%div{:class => "map-content-#{'blur' if @markers == "null"}" } 
  = gmaps("markers" => {"data" => @markers}, "map_options" => {"processing" => "json", "auto_adjust" => false, "auto_zoom" => false, "zoom" => 2})