#dialog
  .controls
    %input{:type => "text", :placeholder => "Username", :id => "git-username"}
  .controls
    %input{:type => "text", :placeholder => " Repository Name", :id => "git-repository"}
    %button{:type => "submit", :class => "btn", :disable_with => "loading mates..."}
      Search